/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap' with (
  $primary: #e90463,
  $info: #1a1a1a,
  $secondary: #6c757d
);

.container {
  max-width: 800px;
}
