/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap' with (
  $primary: #e90463,
  $info: #1a1a1a,
  $secondary: #6c757d
);

body {
  background-image: url('/catalyseur-background.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.card {
  width: fit-content;
}

app-reactive-product-form,
app-signal-product-form {
  max-width: 500px;
  width: 100%;
  display: block;
}

app-product-list {
  max-width: 800px;
  width: 100%;
  display: block;
}

.ng-invalid.ng-dirty ~ .invalid-feedback,
.ng-invalid.ng-touched ~ .invalid-feedback {
  display: block;
}

.form-control.ng-invalid.ng-dirty,
.form-control.ng-invalid.ng-touched {
  border-color: #dc3545;
}
